#nav-items {
  display: flex;
  list-style: none;
  cursor: pointer;
}

#home {
  margin-right: 30px;
}

#alerts {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 300px;
  align-items: flex-end;
  justify-content: flex-end;
}

.alert {
  display: flex;
  position: relative;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin: 30px;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.alert-danger {
  background-color: #ff7e7e;
}

.alert-success {
  background-color: #4fc255;
}

#log-in {
  margin-left: auto;
  margin-right: 20px;
}
.text-link {
  color: inherit;
  text-decoration: inherit;
  background-color: inherit;
}

#sign-up {
  margin-right: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: 20vh;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Inter';
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-name input,
#password input,
#name-dmc input,
#registration-no input,
#signup-email input,
#signup-password input,
#signup-password-confirm input {
  width: 325px;
  height: 56px;
  background-color: black;
  border: solid 1px rgb(131, 131, 131);
  border-radius: 4px;
  margin-bottom: 10px;
  text-indent: 5px;
}
#user-name input::placeholder,
#password input::placeholder,
#name-dmc input::placeholder,
#registration-no input::placeholder,
#signup-email input::placeholder,
#signup-password input::placeholder,
#signup-password-confirm input::placeholder {
  font-size: 1.3em;
}

.big-blue-btn,
.big-purple-btn {
  display: flex;
  position: relative;
  bottom: 15%;
  justify-content: center;
  align-items: center;
  background-color: #68a1d7;
  width: 330px;
  height: 56px;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: 900;
  cursor: pointer;
}

.big-blue-btn:hover {
  background-color: #67aff3;
}

.big-blue-btn:active {
  background-color: #3a8dda;
}

.big-purple-btn {
  background-color: #7e68d7;
}
.big-purple-btn:hover {
  background-color: #8975db;
}

.big-purple-btn:active {
  background-color: #654bca;
}

#login-text {
  background: none;
}

.forgot-pass {
  align-self: flex-start;
}

.sign-up {
  align-self: flex-start;
}

.inline-link span {
  cursor: pointer;
  color: #ff7e7e;
}

.inline-link > span:active {
  color: rgb(255, 255, 255);
}

.purple-btn,
.blue-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7e68d7;
  width: 84px;
  height: 40px;
  border-radius: 4px;
  font-weight: 900;
  cursor: pointer;
}

.blue-btn {
  background-color: #68a1d7;
}

.blue-btn:hover {
  background-color: #67aff3;
}

.blue-btn:active {
  background-color: #3a8dda;
}

.purple-btn:hover {
  background-color: #8975db;
}

.purple-btn:active {
  background-color: #654bca;
}

@media (max-width: 500px) {
  .main-heading {
    margin-top: 10vh;
    font-size: 5.5vw;
  }
  .login-box {
    display: flex;
    position: relative;
    top: 5vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 55%;
    margin-top: 20px;
    border: solid 2px rgb(131, 131, 131);
    border-radius: 25px;
  }
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
