/* Navbar items */
#nav-items {
  display: flex;
  list-style: none;
}
#nav-items * {
  cursor: pointer;
}
#home {
  margin-right: 30px;
}
#admin {
  margin-left: 30px;
}
#log-in {
  margin-left: auto;
  margin-right: 20px;
}
.text-link {
  color: inherit;
  text-decoration: inherit;
  background-color: inherit;
}

/* Student Navbar items */
#sign-up,
#st-dashboard {
  margin-right: 20px;
}

#poll {
  margin-left: auto;
}
#profile {
  margin-left: 20px;
  margin-right: 20px;
}

/* Admin Navbar items */
#teachers,
#students,
#departments {
  margin-left: 20px;
}
#admin-logout {
  margin-left: auto;
}
/* Alerts */
#alerts {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: flex-end;
  justify-content: flex-end;
}

.alert {
  display: flex;
  position: relative;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin: 30px;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.alert-danger {
  background-color: #ff7e7e;
}

.alert-success {
  background-color: #4fc255;
}

/* Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: rgb(27, 27, 27);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}
.popup-close {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
}
.popup-close img {
  width: 10px;
}
#popup-code {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3em;
  font-weight: 700;
  color: #ff8b8b;
}
#secret-code {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 27, 27);
}
#secret-code * {
  background-color: inherit;
  font-family: inherit;
}
#copy-text {
  border: none;
  background-color: rgb(129, 129, 129);
  border-radius: 20%;
  margin-left: 5px;
}
#popup-end {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: inherit;
  font-size: 0.8em;
}

/* Login and Signup page */
.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-top: 20vh;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Inter';
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-name input,
#password input,
#name-dmc input,
#registration-no input,
#roll-no input,
#signup-email input,
#signup-password input,
#signup-password-confirm input {
  width: 325px;
  height: 56px;
  background-color: black;
  border: solid 1px rgb(131, 131, 131);
  border-radius: 4px;
  margin-bottom: 10px;
  text-indent: 5px;
}
#roll-no input::placeholder,
#user-name input::placeholder,
#password input::placeholder,
#name-dmc input::placeholder,
#registration-no input::placeholder,
#signup-email input::placeholder,
#signup-password input::placeholder,
#signup-password-confirm input::placeholder {
  font-size: 1.3em;
}

/* About page */
#about-page {
  display: flex;
  width: 100vw;
  height: 800px;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}
#project-description {
  display: flex;
  flex-direction: column;
  width: 40vw;
}
#project-text {
  margin-bottom: 20px;
}
#developer {
  display: flex;
  margin-bottom: 20px;
}
#developer img {
  max-width: 200px;
  border-radius: 100%;
  margin-right: 20px;
}
#developer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
#links {
  display: grid;
  max-width: 300px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
}
#imp-link {
  grid-column: 1 / span 2;
  align-self: center;
  justify-self: center;
}
#github,
#youtube {
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: center;
}
#github img,
#youtube img {
  width: 100px;
}
#tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  justify-content: center;
}
#tech-imgs img {
  width: 200px;
}
#tech-imgs {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 2rem;
}
/* homepage */
#homepage {
  display: grid;
  margin-top: 100px;
  margin-left: 40px;
  width: 90vw;
  height: 800px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
#project-name {
  grid-row: 1 / span 2;
  font-size: 8em;
  font-weight: 900;
  align-self: center;
}
.eims {
  color: #ffcaca;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.eims span {
  color: #ff7777;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  white-space: normal;
}
#headline {
  align-self: flex-end;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  font-size: 1.4em;
}
#key-features {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#features {
  font-size: 1.5em;
  list-style: none;
}
.feature {
  margin-top: 10px;
}
.feature span {
  color: #49eb94;
}

/* Admin page */
#admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
#statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#admin-container button {
  margin-top: inherit;
}
#admin-container img {
  width: 30px;
  background-color: inherit;
}
.verification-grid {
  display: grid;
  width: 500px;
  grid-template-columns:repeat(5, 1fr);
}

/* Departments Page */
.department-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.department {
  display: flex;
  align-items: center;
  width: 30%;
}
.dep-serial {
  justify-self: flex-start;
}
.dep-name {
  margin-left: 10%;
}

/* Admin Popups */
.big-popup-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 32px;
  width: 100%;
  height: 50vh;
  max-width: 640px;
  background-color: rgb(27, 27, 27);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4em;
}
.large-popup {
}
.popup-center {
  justify-content: center;
}
.big-popup-inner * {
  background-color: inherit;
}
.big-popup-inner strong {
  font-size: 0.8em;
}
.big-popup-inner label {
  font-size: 0.6em;
  margin-right: 10px;
}
/* Department Popup */
#departmentName {
  width: 300px;
  height: 35px;
  background-color: black;
  border: solid 1px rgb(131, 131, 131);
  border-radius: 4px;
  margin-top: 10px;
  text-indent: 5px;
}
#departmentName::placeholder {
  font-size: 1.2em;
}
#teacherName {
  width: 200px;
  height: 35px;
  background-color: black;
  border: solid 1px rgb(131, 131, 131);
  border-radius: 4px;
  margin-top: 10px;
  text-indent: 5px;
}
#teacherName::placeholder {
  font-size: 1.2em;
}
.next-popup {
  position: absolute;
  bottom: 50px;
  right: 60px;
  background-color: #f76363;
  width: 80px;
  height: 40px;
  cursor: pointer;
  border: none;
  font-size: 0.75em;
  border-radius: 2px;
}
.next-popup:hover {
  background-color: #ff7b7b;
}
.next-popup:active {
  background-color: #e74343;
}
.back-btn {
  right: 150px;
  width: 80px;
}
/* Programme Popup */
#programme-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  row-gap: 0.5em;
  column-gap: 3em;
}
#programme-grid input {
  width: 150px;
  height: 30px;
  background-color: black;
  border: solid 1px rgb(131, 131, 131);
  border-radius: 4px;
  margin-bottom: 10px;
  margin-right: 5px;
  text-indent: 5px;
}
#programme-grid button {
  width: 60px;
  height: 30px;
  cursor: pointer;
  border: none;
  font-size: 0.7em;
  border-radius: 2px;
}
#add-programme-btn button:hover {
  background-color: #ff7b7b;
}
#add-programme-btn button:active {
  background-color: #e74343;
}
.sem-btn {
  background-color: #777777;
}
.sem-btn-active {
  background-color: #48b9e6;
}
#add-programme-btn {
  grid-column: 1 / span 2;
  justify-self: center;
}
#add-programme-btn button {
  background-color: #f76363;
}
#duration input {
  width: 30px;
}

/* Modify Department Popups */
#modify-dep {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 0.8em;
}
#modify-dep :nth-child(2) {
  margin-left: 0px;
}
.programme-heading {
  margin-top: 20px;
}
.programme-actions {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8em;
}
.programme-actions label {
  margin-right: 0px;
}
.programme-short {
  display: flex;
  width: 70px;
  font-weight: 600;
}
.programme-short * {
  margin-right: 4px;
}
.no-programme {
  font-size: 0.8rem;
}
.sem-radio-group {
  display: flex;
}
.sem-radio input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.sem-radio input[type='radio']:checked + label {
  background-color: #48b9e6;
  border-color: #319fca;
}
.sem-radio input[type='radio']:focus + label {
  border: 2px solid #444;
}
.sem-radio label {
  display: inline-block;
  background-color: #777;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 4px;
  cursor: pointer;
}
.actions {
  display: flex;
  margin-left: auto;
}
.actions * {
  margin-left: 4px;
}
#new-programme {
  margin-top: 20px;
}
#teacher-heading {
  margin-top: 20px;
}
/* Subject Popup */
.week {
  background-color: #777;
  width: 120px;
}
.lecture-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}
.lecture input {
  width: 40px;
}
.time {
  display: flex;
  align-items: flex-start;
}
.time span {
  font-size: 1rem;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
}
.lecture select {
  margin: 2px;
}
#lecture-caption {
  font-size: 1.2rem;
}
.lecture-not-active > .time {
  visibility: hidden;
}
.lecture-active > button {
  background-color: #d5772a;
}
#subjectName span{
  font-size: 0.8em;
  margin-right: 10px;
}
.input-medium {
  width: 300px;
  height: 35px;
  background-color: black;
  border: solid 1px rgb(131, 131, 131);
  border-radius: 4px;
  margin-top: 10px;
  text-indent: 5px;
}
.input-medium::placeholder {
  font-size: 1.2em;
}
/* common styles */
.big-blue-btn,
.big-purple-btn {
  display: flex;
  position: relative;
  bottom: 15%;
  justify-content: center;
  align-items: center;
  background-color: #68a1d7;
  width: 330px;
  height: 56px;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: 900;
  cursor: pointer;
}
.big-blue-btn:hover {
  background-color: #67aff3;
}

.big-blue-btn:active {
  background-color: #3a8dda;
}

.big-purple-btn {
  background-color: #7e68d7;
}
.big-purple-btn:hover {
  background-color: #8975db;
}

.big-purple-btn:active {
  background-color: #654bca;
}

#login-text {
  background: none;
}

.forgot-pass {
  align-self: flex-start;
}

.sign-up {
  align-self: flex-start;
}

.inline-link span {
  cursor: pointer;
  color: #ff7e7e;
}

.inline-link > span:active {
  color: rgb(255, 255, 255);
}

.purple-btn,
.blue-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7e68d7;
  width: 84px;
  height: 40px;
  border-radius: 4px;
  font-weight: 900;
  cursor: pointer;
}

.blue-btn {
  background-color: #68a1d7;
}

.blue-btn:hover {
  background-color: #67aff3;
}

.blue-btn:active {
  background-color: #3a8dda;
}

.purple-btn:hover {
  background-color: #8975db;
}

.purple-btn:active {
  background-color: #654bca;
}

.medium-blue-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7e68d7;
  width: 200px;
  height: 40px;
  border-radius: 4px;
  font-weight: 900;
  cursor: pointer;
}

.medium-blue-btn {
  background-color: #68a1d7;
}

.medium-blue-btn:hover {
  background-color: #67aff3;
}

.medium-blue-btn:active {
  background-color: #3a8dda;
}
.heading-red {
  font-size: 1.5em;
  font-weight: 700;
  color: #ff8b8b;
}
.heading-red-small {
  font-size: 1.2em;
  font-weight: 700;
  color: #ff8b8b;
}
.heading-white-small {
  font-size: 1.2em;
  font-weight: 700;
  color: #ffffff;
}
.heading-white {
  font-size: 1.7em;
  font-weight: 700;
  color: #ffffff;
}
.big-heading-white {
  font-size: 2.2em;
  font-weight: 700;
  color: #ffffff;
}
.edit {
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}
.edit img {
  width: 40px;
}
.action {
  color: #f5f191;
  font-weight: 600;
  font-size: medium;
  align-self: center;
  cursor: pointer;
}
.img-action {
  display: flex;
  align-items: center;
}
.img-action img {
  width: 30px;
}
.heading-margin {
  margin-top: 20px;
  margin-bottom: 5px;
}
/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive Styles */

@media (max-width: 500px) {
  .main-heading {
    margin-top: 10vh;
    font-size: 5.5vw;
  }
  .login-box {
    display: flex;
    position: relative;
    top: 5vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 55%;
    margin-top: 20px;
    border: solid 2px rgb(131, 131, 131);
    border-radius: 25px;
  }
}
