.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: flex-start;
  align-items: center;
}

.main-heading {
  margin-top: 15vh;
  font-size: 5.5vw;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 55%;
  margin-top: 20px;
  border: solid 2px rgb(131, 131, 131);
  border-radius: 25px;
}
.user-name,
.password {
  width: 80%;
  height: 20%;
}
.user-name > input,
.password > input {
  width: 100%;
  height: 60%;
  text-align: center;
  border: solid 1px rgb(131, 131, 131);
  border-radius: 15px;
}
.user-name > input::placeholder,
.password > input::placeholder {
  font-size: 1.3em;
}

.user-name > input {
  position: relative;
  top: 10%;
}

.password > input {
  position: relative;
  bottom: 40%;
}

.login-button {
  display: flex;
  position: relative;
  bottom: 15%;
  justify-content:center;
  align-items: center;
  background-color: #68a1d7;
  width: 35%;
  height: 12%;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 900;
  cursor: pointer;
}

.login-button:active {
  background-color: #3a8dda;
}

#login-text {
  background:none;
}

.sign-up {
  position: relative;
  bottom: 15%;
  font-size: 1.2em;
}

.sign-up > span {
  cursor: pointer;
  color: #FF7E7E;
}

.sign-up > span:active {
  color: aquamarine;
}

@media (max-width: 500px) {
  .main-heading {
    margin-top: 10vh;
    font-size: 5.5vw;
  }
  .login-box {
    display: flex;
    position: relative;
    top:5vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 55%;
    margin-top: 20px;
    border: solid 2px rgb(131, 131, 131);
    border-radius: 25px;
  }
}
